@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #616161;
  
}
.hello2 {
  background-color: rgb(178, 178, 178);
}
.hello3 {
  background-color: rgb(109, 109, 109);
}

.sign-in{
  width:90px;
}
/* Position the logo at the top center of the page */
.logo {
  position: relative;
  height: 10vh;
  width: 10vw;
}

.hello {
  justify-content: space-between;
  padding-right: 10;
  padding-right: 10;
  flex-direction: row;
}


.ml-20 {
  margin-left: 0;
  margin: 0;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
